extends base.jade

block css 
    style.
        .evimage {
          width:100%;
        }
        .camimage {
          width:100%;
        }

block content
    .container-fluid
        .col-md-4
            img.camimage(src=cam.streamurl())
            .checkbox
                label
                    input.cam_setup(cam_id=cam.id, type='checkbox') 
                    | Setup Mode
            //label
            //    input.cam_thresold(cam_id=cam.id)
            //        | Thresold 
            label.moving(cam_id=cam.id) Moving
        .col-md-8
            .container-fluid
                for l in cam.last_events
                    .col-md-3
                        img.evimage(src="{% url 'motioncontrol.views.event_pic' l.id  %}")


block js 
    script.

        function reloadStream() {
            src = $('.camimage').attr('src');
            if (src) {
                $('.camimage').attr('src',src.split("&")[0] + "&ts=" + (Date.now() / 1000 | 0)).fadeIn();
            }
        }



        $(function(){

            setInterval(function(){
                reloadStream();
                },30*1000);

             //- code...
            setInterval(function(){
                is_moving({{cam.id}});
                },5*1000);


            function is_moving(cam_id) {
                $.post("{% url 'motioncontrol.views.cam_api'%}",{'cam_id':cam_id,'cmd':'moving'},function(data){
                    console.log(data);
                });
            }


            $(".cam_setup").on('click',function(e){
                var cam_id = parseInt(e.currentTarget.getAttribute('cam_id'));
                var val = e.currentTarget.checked;
                $.post("{% url 'motioncontrol.views.cam_api'%}",{'cam_id':cam_id,'cmd':'setup_mode','val':val},function(data){
                    console.log(data);
                    setTimeout(function(){reloadStream();},5*1000);   
                    });
                });
            });
