extend base.jade

block css 
    style.
        .camimage {
            width:100%;

        }

block content
    .container-fluid
        .row
            for server in servers
                for cam in server.cams
                    if cam.is_online
                        .col-md-3
                            if cam.lastpic
                                a(href='{% url "motioncontrol.views.showcam" cam.slug %}')
                                    img.camimage(id=cam.server.name+'_'+str(cam.thread_number) src="{% url 'motioncontrol.views.event_pic' cam.lastpic.id %}")

block js 
    script.
        function refreshCam(cam_id) {
            console.log("Refresh " + cam_id);
            src = $('#'+cam_id).attr('src');
            if (src) {
                $('#'+cam_id).attr('src',src.split("&")[0] + "&ts=" + (Date.now() / 1000 | 0)).fadeIn();
            }
        }

        function refreshCams() {
            $(".camimage").each(function(id,obj){
                console.log("Refresh Cams..");
                refreshCam(obj.id);
            });
        }

        $(function(){
            var focus = true;
            var multiplier = 1;


            refreshCams();

            setInterval(function(){
                refreshCams();
            },30000); 

            /*
            window.onblur = function() { 
                focus = false; 
                multiplier = 1000;
                console.log("Lost focus");
                document.title="MotionControl - Slow Refresh";
            }

            window.onfocus = function() { 
                // refresh on window focus 
                console.log("Got focus");
                document.title="MotionControl - Fast Refresh";
                focus = true; 
                multiplier = 1;
            }
            document.onblur = window.onblur;
            document.focus = window.focus;
            */
        });